.story {
  background-color: $background-section-color;
  padding: 229px 0px 177px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    max-width: 580px;
    margin-right: 30px;
  }

  &__title {
    color: $primary2;
  }

  &__subtitle {
    color: $primary2;
    font-weight: 600;
    font-size: 2.5rem;
    margin-top: 33px;
    margin-bottom: 57px;
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    min-height: 65px;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.8;
    }
  }

  &__video-player {
    max-width: 895px;
    max-height: 455px;
    position: relative;
  }

  &__btn-play {
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__video-overlay {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  &__video {
    border-radius: 16px;
    max-width: 100%;
    max-height: 100%;
  }
}
