$primary1: #01996d;
$primary2: #ffffff;

$header-border-color: #d6d6d6;
$title-text-color: #000000;
$background-section-color: #245852;
$main-text-color: #484848;
$info-text-color: #424242;
$header-link-color: #292929;
