html {
  font-size: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: $main-text-color;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1370px;
  padding: 0px 15px;
  margin: 0 auto;
}

.btn {
  background: $primary1;
  border: 1px solid $primary1;
  border-radius: 4px;
  font-size: 2rem;
  padding: 0px 50px;
  color: $primary2;
}

.text {
  font-size: 2rem;
  color: $info-text-color;
  line-height: 30px;
}
